.how {
  padding-bottom: 22px;
}

.how__title {
  margin: 0;
  margin-bottom: 28px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @color-secondary-font;
}

.how__item {
  position: relative;

  margin-bottom: 24px;
  padding-left: 80px;
}

.how__description {
  position: relative;

  padding-top: 2px;

  font-size: 14px;
  line-height: 18px;
  font-family: @font-secondary;
}
