.page-header {
  color: @color-secondary-font;

  background-color: @color-main;
}

.page-header__logo {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 10px;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.main-nav {
  display: none;

  &--show {
    display: block;
  }
}

.main-nav__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;

    width: 100vw;
    height: 1px;

    background-color: #e6e6e6;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 100vw;
    height: 1px;

    background-color: #e6e6e6;
  }
}

.main-nav__item a {
  display: block;
  padding: 23px 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: @color-secondary-font;
  text-transform: uppercase;
}