.promo {
  margin-bottom: 22px;
}

.promo__program {
  background: #68B738; 
  line-height: 18px;
  max-width: 244px;
  position: relative;
}

.promo__name-wrapper {
  position: relative;
  padding-top: 27px;
  padding-bottom: 168px;

  text-align: center;
  color: @color-interactive-text;

  background-color: #68B738;
  background-position: center;
  background-size: cover;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/index-background.png);
    width: 320px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: .15;
  }
}

.promo__name {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .promo {
    margin-bottom: 29px;
    padding-top: 29px;
    padding-left: 117px;
  }

  .promo__header {
    display: flex;
    flex-direction: column;
  }

  .promo__header picture {
    order: 1;
    margin-top: -29px;
  }

  .promo__name-wrapper {
    padding: 0;

    text-align: left;

    background: none;
  }

  .promo__name {
    width: 427px;
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
    color: @color-secondary-font;
  }

  .promo__slogan {
    width: 427px;
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    color: @color-secondary-font;
  }

  .promo__image {
    top: -28px;
    left: -88px;
    z-index: -1;

    width: 709px;
    height: 609px;

    transform: none;
  }

  .promo__link {
    width: 245px;
    margin-left: 2px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    min-height: auto;
    margin: 0;
    padding: 0;
    padding-top: 106px;
  }

  .promo__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 234px;
    margin-bottom: 267px;
  }

  .promo__name-wrapper {
    padding-left: 150px;
  }

  .promo__name {
    width: 489px;
    margin-bottom: 41px;
  }

  .promo__slogan {
    margin-bottom: 53px;
  }

  .promo__image-wrapper {
    padding-left: 148px;
  }

  .promo__image {
    top: -315px;
    right: 335px;
    left: auto;

    width: 552px;
    height: 499px;
  }
}
